<div class="container-fluid">
  <div class="row">
    <tabset [vertical]="false">
      <tab heading="SR, SP, SO Count">
        <div class="row">
          <div class="col-md-2">
            <label>Period</label>
            <select class="input-sm form-control" [(ngModel)] = "filterPeriod" (change)="generateGraph123()">
              <option value="">Select</option>
              <option>YTD</option>
              <option>MTD</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Operator </label>
            <select class="input-sm form-control" [(ngModel)]="filterOperator" (change)="generateGraph123()">
              <option value="">Select</option>
              <option *ngFor="let op of allOperator?.split(',')" value="{{op}}">{{op}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Product Type</label>
            <select class="input-sm form-control" [(ngModel)]="filterProductType" (change)="generateGraph123()">
              <option value="">Select</option>
              <option value="{{pt.paramCode}}" *ngFor="let pt of productTypeList">{{pt.paramDesc}}</option>
            </select>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-12">
            <div style="display: flex;">
              <div style="width: 50%;">SR</div>
            </div>
            <div style="display: block" *ngIf="graph1">
              <canvas baseChart height = "18vh" width = "80vw"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [colors]="barChartColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        
          <div class="col-md-12">
            <div style="display: flex;">
              <div style="width: 50%;">SP</div>
            </div>
            <div style="display: block" *ngIf="spGraph">
              <canvas baseChart height = "18vh" width = "80vw"
                  [datasets]="spBarChartData"
                  [labels]="spBarChartLabels"
                  [options]="barChartOptions"
                  [colors]="spBarChartColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        
          <div class="col-md-12">
            <div style="display: flex;">
              <div style="width: 50%;">SO</div>
            </div>
            <div style="display: block" *ngIf="soGraph">
              <canvas baseChart height = "18vh" width = "80vw"
                  [datasets]="soBarChartData"
                  [labels]="soBarChartLabels"
                  [options]="barChartOptions"
                  [colors]="soBarChartColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="SR, SP, SO Aging">
        <div class="row">
          <div class="col-md-2">
            <label>Period</label>
            <select class="input-sm form-control" [(ngModel)] = "filterPeriod1" (change)="generateGraph456()">
              <option value="">Select</option>
              <option>YTD</option>
              <option>MTD</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Operator </label>
            <select class="input-sm form-control" [(ngModel)]="filterOperator1" (change)="generateGraph456()">
              <option value="">Select</option>
              <option *ngFor="let op of allOperator?.split(',')" value="{{op}}">{{op}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Product Type</label>
            <select class="input-sm form-control" [(ngModel)]="filterProductType1" (change)="generateGraph456()">
              <option value="">Select</option>
              <option value="{{pt.paramCode}}" *ngFor="let pt of productTypeList">{{pt.paramDesc}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Circle Name </label>
            <select class="input-sm form-control" [(ngModel)]="filterCircleName1" (change)="generateGraph456()">
              <option value="">Select</option>
              <option *ngFor="let cn of allCircle?.split(',')" value="{{cn}}">{{cn}}</option>
            </select>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-12">
            <div style="display: flex;">
              <div style="width: 50%;">SR Aging</div>
            </div>
            <div style="display: block" *ngIf="srAgingGraph">
              <canvas baseChart height = "18vh" width = "80vw"
                  [datasets]="srAgingData"
                  [labels]="srAgingLabels"
                  [options]="barChartOptions"
                  [colors]="srAgingColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        
          <div class="col-md-12">
            <div style="display: flex;">
              <div style="width: 50%;">SP Aging</div>
            </div>
            <div style="display: block" *ngIf="spAgingGraph">
              <canvas baseChart height = "18vh" width = "80vw"
                  [datasets]="spAgingData"
                  [labels]="spAgingLabels"
                  [options]="barChartOptions"
                  [colors]="spAgingColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        
          <div class="col-md-12">
            <div style="display: flex;">
              <div style="width: 50%;">SO Aging</div>
            </div>
            <div style="display: block" *ngIf="soAgingGraph">
              <canvas baseChart height = "18vh" width = "80vw"
                  [datasets]="soAgingData"
                  [labels]="soAgingLabels"
                  [options]="barChartOptions"
                  [colors]="soAgingColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<div class="modal fade" id="bigGraphModal" role="dialog" >
  <div class="modal-dialog  modal-lg" style="max-width:  1320px !important">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{modalGraphType}}</h1>
        <button type="button" class="btn tvi-yellow text-white" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div style="display: block" *ngIf="modalGraph">
              <canvas baseChart height = "18vh" width = "80vw"
                  [datasets]="modalBarChartData"
                  [labels]="modalBarChartLabels"
                  [options]="barChartOptions"
                  [colors]="modalBarChartColors"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>

        
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn tvi-yellow text-white" data-dismiss="modal">Cancel</button> -->
      </div>
    </div>
  </div>
</div>
